a[class^="styles_toggleDarkMode"] {
  display: none !important;
}

a[class^="styles_githubCorner"] {
  display: none !important;
}

.notion-link:focus,
.notion-link:hover {
  background-image: linear-gradient(90.68deg, #b06fd8 0.26%, #597aee 102.37%);
}
